<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>meeting</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>CharacterEncoding</display-name>
    <filter-name>CharacterEncoding</filter-name>
    <filter-class>com.sxit.meeting.filter.CharacterEncoding</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePwdServlet</display-name>
    <servlet-name>ChangePwdServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.ChangePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePwdServlet</servlet-name>
    <url-pattern>/ChangePwdServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.sxit.meeting.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/pages/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RegistJspServlet</display-name>
    <servlet-name>RegistJspServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.RegistJspServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistJspServlet</servlet-name>
    <url-pattern>/RegistJspServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCheckNameServlet</display-name>
    <servlet-name>AjaxCheckNameServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.AjaxCheckNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCheckNameServlet</servlet-name>
    <url-pattern>/AjaxCheckNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveAccountServlet</display-name>
    <servlet-name>ApproveAccountServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.ApproveAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveAccountServlet</servlet-name>
    <url-pattern>/ApproveAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveServlet</display-name>
    <servlet-name>ApproveServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.ApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveServlet</servlet-name>
    <url-pattern>/ApproveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchEmployeeServlet</display-name>
    <servlet-name>SearchEmployeeServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.SearchEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEmployeeServlet</servlet-name>
    <url-pattern>/SearchEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchDepartmentServlet</display-name>
    <servlet-name>SearchDepartmentServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.SearchDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDepartmentServlet</servlet-name>
    <url-pattern>/SearchDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDepartmentServlet</display-name>
    <servlet-name>AddDepartmentServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.AddDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDepartmentServlet</servlet-name>
    <url-pattern>/AddDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDepartmentServlet</display-name>
    <servlet-name>EditDepartmentServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.EditDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDepartmentServlet</servlet-name>
    <url-pattern>/EditDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDepartmentServlet</display-name>
    <servlet-name>DeleteDepartmentServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.DeleteDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDepartmentServlet</servlet-name>
    <url-pattern>/DeleteDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMeetingRoomServlet</display-name>
    <servlet-name>AddMeetingRoomServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.AddMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMeetingRoomServlet</servlet-name>
    <url-pattern>/AddMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCheckRoomnumServlet</display-name>
    <servlet-name>AjaxCheckRoomnumServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.AjaxCheckRoomnumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCheckRoomnumServlet</servlet-name>
    <url-pattern>/AjaxCheckRoomnumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCheckRoomnameServlet</display-name>
    <servlet-name>AjaxCheckRoomnameServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.AjaxCheckRoomnameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCheckRoomnameServlet</servlet-name>
    <url-pattern>/AjaxCheckRoomnameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMeetingroomServlet</display-name>
    <servlet-name>SearchMeetingroomServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.SearchMeetingroomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMeetingroomServlet</servlet-name>
    <url-pattern>/SearchMeetingroomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMeetingroomServlet</display-name>
    <servlet-name>DeleteMeetingroomServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.DeleteMeetingroomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMeetingroomServlet</servlet-name>
    <url-pattern>/DeleteMeetingroomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MeetingroomDetailServlet</display-name>
    <servlet-name>MeetingroomDetailServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.MeetingroomDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingroomDetailServlet</servlet-name>
    <url-pattern>/MeetingroomDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMeetingRoomServlet</display-name>
    <servlet-name>EditMeetingRoomServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.EditMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMeetingRoomServlet</servlet-name>
    <url-pattern>/EditMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookMeetingServlet</display-name>
    <servlet-name>BookMeetingServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.BookMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookMeetingServlet</servlet-name>
    <url-pattern>/BookMeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxRoomcapacityServlet</display-name>
    <servlet-name>AjaxRoomcapacityServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.AjaxRoomcapacityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxRoomcapacityServlet</servlet-name>
    <url-pattern>/AjaxRoomcapacityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCheckTimeServlet</display-name>
    <servlet-name>AjaxCheckTimeServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.AjaxCheckTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCheckTimeServlet</servlet-name>
    <url-pattern>/AjaxCheckTimeServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>AjaxEmpByDepidServlet</display-name>
    <servlet-name>AjaxEmpByDepidServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.AjaxEmpByDepidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxEmpByDepidServlet</servlet-name>
    <url-pattern>/AjaxEmpByDepidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMeetingServlet</display-name>
    <servlet-name>AddMeetingServlet</servlet-name>
    <servlet-class>com.sxit.meeting.servlet.AddMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMeetingServlet</servlet-name>
    <url-pattern>/AddMeetingServlet</url-pattern>
  </servlet-mapping>
</web-app>